@model GameStore.ViewModels.GameFormViewModel
@{
    ViewData["Title"] = "Create";
}
<h3>Create an item</h3>

<form asp-action="Create" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label asp-for="Game.Name">Name</label>
        <div class="d-flex gap-2">
            <input type="text" class="form-control" asp-for="Game.Name" id="gameName" />
            <button type="button" class="btn btn-secondary" id="lookupBtn">Lookup</button>
        </div>
    </div>
    <div class="form-group">
        <label for="Game.Price">Price</label>
        <input type="text" class="form-control" asp-for="Game.Price" />
    </div>
    <div class="form-group">
        <label for="Game.Description">Description</label>
        <textarea class="form-control" asp-for="Game.Description" rows="3"></textarea>
    </div>
    <div class="form-group">
        <label asp-for="Genres">Genres</label>
        <select asp-for="GenreIds" asp-items="Model.Genres" class="form-control" multiple></select>
    </div>
    <div class="form-group">
        <label asp-for="Platforms">Platform</label>
        <select asp-for="PlatformIds" asp-items="Model.Platforms" class="form-control" multiple></select>
    </div>
    <div class="form-group">
        <label asp-for="Distributors">Distributor</label>
        <select asp-for="DistributorIds" asp-items="Model.Distributors" class="form-control" multiple></select>
    </div>
    <div class="form-group">
        <label asp-for="ImageFile">Image</label>
        <input type="file" class="form-control" asp-for="ImageFile" accept="image/*" />
        <input type="hidden" asp-for="Game.ImagePath" id="igdbImagePath" />
        <img id="imagePreview" src="" class="mt-2" style="max-height: 200px; display: none;" />

    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#GenreIds').select2();
            $('#PlatformIds').select2();
            $('#DistributorIds').select2();
        });
    </script>
}