@model GameStore.ViewModels.GameFormViewModel
@{
    ViewData["Title"] = "Edit";
}
<h3>Edit an item</h3>

<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="Game.Id" />
    <div class="form-group">
        <label for="Name">Name</label>
        <input type="text" class="form-control" asp-for="Game.Name" />
    </div>
    <div class="form-group">
        <label for="Price">Price</label>
        <input type="text" class="form-control" asp-for="Game.Price" />
    </div>
    <div class="form-group">
        <label asp-for="Genres">Genres</label>
        <select asp-for="GenreIds" asp-items="Model.Genres" class="form-control" multiple></select>
    </div>
    <div class="form-group">
        <label asp-for="Platforms">Platform</label>
        <select asp-for="PlatformIds" asp-items="Model.Platforms" class="form-control" multiple></select>
    </div>
    <div class="form-group">
        <label asp-for="Distributors">Distributor</label>
        <select asp-for="DistributorIds" asp-items="Model.Distributors" class="form-control" multiple></select>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

<!-- PAGE HEADING -->
<div class="my-4 steam-background-wrapper p-steam-bgwrapper">
    <h1 class="steam-white-text">
        Game Library</h3>
        <h6 class="steam-white-text">
            <span class="steam-grey-text">In minutes, </span>
            you'll be playing your favorite games
        </h2>
        <div class="black-box"></div>
        <p class="steam-grey-text col-12 col-md-10 col-lg-8 ">
            Below you will find your favorite collection of titles, including recent titles and all-time favorites. <br />
            We are constantly working on the Steam client to optimize performance and ensure your gaming experience remains seamless. <br />
            Check back often for updates on your favorite franchises and new additions to the store.
        </p>
        <hr class="col-12 col-md-10 col-lg-8 " />
            <div class="col-12 col-md-10 col-lg-8  card card-game steam-dark steam-white-text black-gradient-right-to-left">
                <div class="row g-0">
                    <!-- THUMBNAIL -->
                    <img src="https://placehold.co/148x84" class="card-game-thumbnail" />

                    <!-- CARD BODY -->
                    <div class="col d-flex align-items-center px-2 gap-3 card-main-body">
                        <!-- NAME, PLATFORM, TAGS -->
                        <div class="flex-grow-1 min-width-0 d-flex flex-column">
                        <input type="text" class="form-control" asp-for="Game.Name" />
                            <i class="bi bi-microsoft steam-grey-text"></i>
                        <select asp-for="GenreIds" asp-items="Model.Genres" class="form-control" multiple></select>
                        </div>
                        <!-- PRICING -->
                        <div>
                            <input type="text" class="form-control" asp-for="Game.Price" />
                        </div>
                    </div>
                </div>
            </div>
    </div>

@section Scripts {
    <script>
        $(document).ready(function(){
            $('#GenreIds').select2();
            $('#PlatformIds').select2();
            $('#DistributorIds').select2();
        });
    </script>
}
