<form method="post">
    <input name="email" placeholder="Email" />
    <input name="password" type="password" placeholder="Password" />
    <div asp-validation-summary="All" class="text-danger"></div>
    <button type="submit">Login</button>
</form>