@inject Microsoft.AspNetCore.Identity.SignInManager<Microsoft.AspNetCore.Identity.IdentityUser> SignInManager
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - GameStore</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap-icons/font/bootstrap-icons.css" />
    <link rel="stylesheet" href="~/lib/select2/css/select2.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/GameStore.styles.css" asp-append-version="true" />
</head>
<body class="steam-light">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark  mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/images/generic_logo.png" width="150" height="38" alt="GameStore Logo" class="align-top">
                    </a>

                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="pt-4 ms-5 navbar-collapse collapse d-sm-inline-flex justify-content-between">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Games" asp-action="Index">Home</a>
                            </li>
                        </ul>
                        <ul class="navbar-nav ms-auto me-5">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <form asp-controller="Account" asp-action="Logout" method="post">
            <button type="submit" class="nav-link btn btn-link">Logout</button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link" asp-controller="Account" asp-action="Login">Login</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-controller="Account" asp-action="Register">Register</a>
    </li>
}
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        <div class="container flex-grow-1">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
        <!-- CUSTOM FOOTER -->
        <footer class="footer mb-4">
            <div class="container">
                <div class="row mx-5">
                    <div class="d-flex steam-grey-text steam-font footer-text">
                
                        <div class="me-3 flex-shrink-0">
                            <img src="~/images/generic_logo.png" width="150" height="38" alt="GameStore Logo">
                            </div>

                            <div class="align-self-end">
                                <p class="mb-0">
                                    &copy; 2026 - Generic Game Store - I would like to thank Valve Corporation for the incredible design inspiration that defined an era of gaming.
                                </p>
                                <p class="mb-0">
                                    All original design concepts and stylistic choices are credited to their respective creators.
                                </p>
                            </div>

                        </div>
                    </div>
                </div>
            </footer>
            <script src="~/lib/jquery/dist/jquery.min.js"></script>
            <script src="~/lib/select2/js/select2.min.js"></script>
            <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
            <script src="~/js/site.js" asp-append-version="true"></script>
            @await RenderSectionAsync("Scripts", required: false)
        </body>
    </html>
